.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
    font-family: Arial, sans-serif;
}

.page-item {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #637dcb;
    border-radius: 0.3rem;
    color: #637dcb;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.page-item:hover {
    background-color: #637dcb;
    color: white;
}

.page-item.selected {
    background-color: #637dcb;
    color: white;
    cursor: not-allowed;
    pointer-events: none;
}
