header {
  background-image: url("../../assets/imgs/restaurant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 8rem;
  color: white;
  padding: 2rem 1rem 0;
  box-sizing: border-box;
}

header h1 {
  margin: 0;
}

header span {
  margin-left: -1rem;
}

header p {
  margin: 0;
}

@media screen and (max-width: 425px) {
  header h1 {
    font-size: 1.5rem;
  }

  header p {
    font-size: 0.7rem;
  }

  header {
    padding: 2.5rem 1rem 0;
    text-align: center;
  }

  header span {
    margin-left: 0;
  }

  h1 svg {
    display: none;
  }
}
